{% load i18n %}
{% for post in posts %}
  <div class="sdcd-col sdcd-col-md-6">
    <div class="sdcd-card sdcd-cliquable">
      <div class="sdcd-card__corps">
        <div>
          <h3 class="sdcd-card__titre">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h3>
          <p class="sdcd-card__description">{% translate "Published on" %} {{ post.date |date:'l j F Y' }}</p>
          {% if post.blog_categories.all %}
            <div class="sdcd-card__sur-titre">
              <ul class="sdcd-tags">
                {% for cat in post.blog_categories.all %}
                  <li>
                    <p class="sdcd-tag">{{ cat.name }}</p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
      {% if post.cover %}
        <div class="sdcd-card__media">
          <div>
            <img class="sdcd-image-fluide" src="{{ post.cover.file.url }}" alt="">
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% empty %}
  <div class="sdcd-col">
    <p>{% translate "No article found." %}</p>
  </div>
{% endfor %}
