{% load wagtailimages_tags %}
{# Uses value instead of block.value because it is also used #}
{# to display Person items #}
<div class="sdcd-conteneur sdcd-my-5">
  <div class="sdcd-grille sdcd-grille--gouttieres">
    <div class="sdcd-card sdcd-card--horizontal sdcd-col-12 sdcd-col-md-6">
      <div class="sdcd-card__corps">
        <div>
          <h3 class="sdcd-card__titre">{{ value.name }}</h3>
          <p class="sdcd-card__description">{{ value.role }} – {{ value.organization }}</p>
          {% if value.contact_info %}
            <div class="sdcd-card__pied">
              <p class="sdcd-card__meta">{{ value.contact_info }}</p>
            </div>
          {% endif %}
        </div>
      </div>
      {% if value.image %}
        <div class="cmsfr-author_card__header sdcd-card__media">
          <div>
            {% image value.image fill-200x200 as contact_image %}
            <img class="sdcd-image-fluide cmsfr-author-img"
                 src="{{ contact_image.url }}"
                 width="4.5em"
                 height="4.5em"
                 alt="" />
          </div>
        </div>
      {% endif %}
    </div>

  </div>
</div>
