{% extends "dsfr/follow.html" %}
{% load i18n %}

{% block follow_newsletter %}
  {% if settings.sites_conformes_core.CmsDsfrConfig.show_newsletter_block %}
    <div class="sdcd-col-12{% if settings.sites_conformes_core.CmsDsfrConfig.show_social_block %} sdcd-col-md-8{% endif %}">
      <div class="sdcd-suivre__lettre">
        <div>
          <h2 class="sdcd-h5">{% translate "Subscribe to our newsletter" context "Section title" %}</h2>
          <p class="sdcd-texte-sm">{{ settings.sites_conformes_core.CmsDsfrConfig.newsletter_description | safe }}</p>
        </div>
        <div class="sdcd-boutons sdcd-boutons--enligne-md">
          {% translate "Subscribe to our newsletter" context "Button title" as subcribe_button_title %}
          <a class="sdcd-button sdcd-button--primaire"
             href="{{ settings.sites_conformes_core.CmsDsfrConfig.newsletter_url }}"
             target="_blank"
             rel="noopener external"
             title="{{ subcribe_button_title }} - {{ new_window_label }}">{% translate "Subscribe" %}</a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock follow_newsletter %}

{% block follow_social %}
  {% if settings.sites_conformes_core.CmsDsfrConfig.show_social_block %}
    <div class="sdcd-col-12{% if settings.sites_conformes_core.CmsDsfrConfig.show_newsletter_block %} sdcd-col-md-4{% endif %}">
      <div class="sdcd-suivre__reseaux">
        <h2 class="sdcd-h5">
          {% blocktranslate trimmed %}
            Follow us
            <br />
            on social media
          {% endblocktranslate %}
        </h2>
        <ul class="sdcd-boutons">
          {% for link in settings.sites_conformes_core.CmsDsfrConfig.social_media_items.all %}
            <li>
              <a class="{{ link.icon_class }} sdcd-button sdcd-button--tertiaire-bordure sdcd-button--sm"
                 href="{{ link.url }}"
                 target="_blank"
                 title="{{ link.title }} - {{ new_window_label }}"
                 rel="noopener external">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock follow_social %}
