{% extends "sites_conformes_core/base.html" %}

{% load i18n static dsfr_tags wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtail_dsfr_tags %}

{% block title %}
  <title>{{ page.seo_title|default:page.title }} — {{ settings.sites_conformes_core.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% if page.search_description %}
  {% block description %}
    <meta name="description" content="{{ page.search_description }}" />
  {% endblock description %}
{% endif %}

{% block social_media %}
  <meta property="og:site_name" content="{{ request.get_host }}" />
  <meta property="og:title"
        content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{% canonical_url %}" />
  <meta property="og:description" content="{{ page.search_description }}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

  {% if page.get_translations.live %}
    {% for translation in page.get_translations.live %}
      <meta property="og:locale:alternate"
            content="{{ translation.locale.language_code }}" />
    {% endfor %}
  {% endif %}

  <meta name="twitter:title"
        content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ page.search_description }}" />

  {% include "sites_conformes_core/blocks/socialmedia_preview_image.html" %}
{% endblock social_media %}

{% block content %}
  {% include "sites_conformes_core/blocks/heading.html" %}

  {% with categories=page.event_categories.all %}

    <div class="sdcd-conteneur sdcd-mt-7">
      <div class="sdcd-grille sdcd-grille--gouttieres">
        <div class="sdcd-col-12">
          {% include "sites_conformes_core/blocks/breadcrumbs.html" %}
          {% if page.show_title %}
            <h1 class="sdcd-h2">{{ page.title }}</h1>
          {% endif %}
        </div>
      </div>
      <p>
        <strong>
          <span class="ri-calendar-event-fill click-to-copy" aria-hidden="true"></span>
          {% event_date_range page.event_date_start page.event_date_end %}
        </strong>
        {% if categories %}
          |
          {% for category in categories %}
            <a href="{% pageurl page.get_parent %}?category={{ category.slug }}">{{ category.name }}</a>
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        {% endif %}
      </p>
    </div>

    {% include "sites_conformes_core/blocks/messages.html" %}

    {% include "sites_conformes_core/blocks/blocks_stream.html" with stream=page.body %}

    {% with authors=page.authors.all %}
      {% if authors %}
        <div class="sdcd-conteneur sdcd-my-7">
          <h2>{% translate "Posted by:" %}</h2>
          <div class="sdcd-grille sdcd-grille--gouttieres">
            {% for author in authors %}
              {% include "sites_conformes_blog/blocks/contact_card.html" with value=author %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}

    {% if categories %}
      {% for category in categories %}
        {% include "sites_conformes_core/blocks/blocks_stream.html" with stream=category.colophon %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="sdcd-conteneur sdcd-my-7">

    <div class="sdcd-card{% if page.header_image %} sdcd-card--horizontal{% else %} sdcd-card--telechargement{% endif %}">
      <div class="sdcd-card__corps">
        <div>
          <h2 class="sdcd-card__titre">{{ page.title }}</h2>
          <ul class="sdcd-card__description">
            <li>
              <strong>{% translate "Date:" %}</strong> {{ page.event_date_start }} – {{ page.event_date_end }}
            </li>
            <li>
              <strong>{% translate "Location:" %}</strong> {{ page.location }}
            </li>
            {% if page.registration_url %}
              <li>
                <strong>{% translate "Registration link:" %}</strong> <a href="{{ page.registration_url }}">{{ page.registration_url }}</a>
              </li>
            {% endif %}
          </ul>

          <div class="sdcd-card__sur-titre">
            <ul class="sdcd-tags">
              {% for tag in page.tags.all|dictsort:"slug" %}
                <a class="sdcd-tag"
                   target="_self"
                   href="{% pageurl page.get_parent %}?tag={{ tag.slug }}">{{ tag }}</a>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="sdcd-card__actions">
          <div class="sdcd-boutons sdcd-boutons--enligne-lg">
            <a href="{% routablepageurl page 'ical_view' %}"
               class="sdcd-button sdcd-button--secondaire">{% translate "Add to your calendar (iCal)" %}</a>
          </div>
        </div>
      </div>

      <div class="sdcd-card__media">
        <div>
          {% if page.cover %}
            {% image page.cover width-450 as header_image %}
            <img class="sdcd-image-fluide" src="{{ header_image.url}}" alt="" />
          {% else %}
            <img class="sdcd-image-fluide"
                 src="{% static 'sdcd/pictogrammes/calendrier.svg' %}"
                 alt="" />
          {% endif %}
        </div>
      </div>

    </div>
  </div>
  {% if settings.sites_conformes_core.CmsDsfrConfig.show_share_links and settings.sites_conformes_core.CmsDsfrConfig.share_links_events %}
    {% include "sites_conformes_core/blocks/share.html" %}
  {% endif %}
{% endblock content %}
