{% extends "sites_conformes_core/blocks/sections/base_section.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block children %}
  <div class="sdcd-conteneur sdcd-pt-4">
    <div class="sdcd-grille cmsfr-text-content--{{ value.items_alignement }}">
      {% for item in rendered_items %}
        <div class="sdcd-col-12 sdcd-col-md-{{ value.items_per_row }} sdcd-pb-2 sdcd-pr-4">
          <div>
            <img src="{{ item.rendition.full_url }}" alt={{ item.rendition.alt }} />
          </div>
          <h3 class="sdcd-h5 sdcd-pt-4">{{ item.title }}</h3>
          <p>{{ item.text|richtext }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock children %}
