{% extends "sites_conformes_core/blocks/sections/base_section.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_classes %}
  sdcd-py-5
{% endblock extra_classes %}
{% block children %}
  <div class="sdcd-grille sdcd-grille--milieu sdcd-grille--centre {{ value.layout.vertical_margin }}">
    <div class="sdcd-col-md-6 {% if value.position == 'right' %} cmsfr-order__2 sdcd-pl-md-6 {% else %} sdcd-pr-md-6 {% endif %}">
      {{ value.text }}
      <ul class="sdcd-boutons sdcd-boutons--enligne-lg{% if icons_side == 'sdcd-button--icone-gauche' %} sdcd-boutons--icones{% elif icons_side == 'sdcd-button--icone-droite' %} sdcd-boutons--icones {% endif %} {{ value.position }}">
        <li>{% include "sites_conformes_core/blocks/button.html" with button=value.button %}</li>
      </ul>

    </div>
    <div class="sdcd-col-md-6">
      {% image value.image fill-600x600 as image %}
      <img class="sdcd-image-fluide"
           src="{{ image.full_url }}"
           alt="{{ image.alt }}" />
    </div>
  </div>

{% endblock children %}
