{% extends "sites_conformes_core/base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags wagtail_dsfr_tags i18n %}

{% block title %}
  <title>{{ title }} — {{ settings.sites_conformes_core.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% block description %}
  <meta name="description" content="{{ home_page.search_description }}" />
{% endblock description %}

{% block content %}
  <div class="sdcd-conteneur sdcd-mt-7">
    {% dsfr_breadcrumb breadcrumb %}
    <h1>{% translate "Sitemap" %}</h1>
    {% include "sites_conformes_core/blocks/messages.html" %}
  </div>

  <div class="sdcd-conteneur sdcd-mt-7">
    <div class="sdcd-grille sdcd-grille--gouttieres sdcd-mb-5">
      <ul>
        <li>
          <a href="{% root_url %}">{{ home_page.title }}</a>
          <ul>
            {% include "sites_conformes_core/blocks/sitemap_entry.html" with pagelist=home_page %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}
