{% extends "sites_conformes_core/base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
  <title>{{ title }} — {{ settings.sites_conformes_core.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% block description %}
  <meta name="description" content="{{ search_description }}" />
{% endblock description %}

{% block social_media %}
  <meta property="og:site_name"
        content="{{ settings.sites_conformes_core.CmsDsfrConfig.site_title }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:description" content="{{ search_description }}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ search_description }}" />
{% endblock social_media %}

{% block content %}

  <div class="sdcd-conteneur sdcd-mt-7">
    {% dsfr_breadcrumb breadcrumb %}
    <h1>{{ title }}</h1>
    {% include "sites_conformes_core/blocks/messages.html" %}
  </div>
  <div class="sdcd-conteneur sdcd-mt-7">
    <div class="sdcd-grille sdcd-grille--gouttieres sdcd-mb-5">
      {% for entry in object_list %}
        <div class="sdcd-col sdcd-col-md-6">
          <div class="sdcd-card sdcd-cliquable">
            <div class="sdcd-card__corps">
              <div>
                <h2 class="sdcd-card__titre">
                  <a href="{{ entry.url }}">{{ entry.title }}</a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <p>{% translate "No article found." %}</p>
      {% endfor %}
    </div>
  </div>

  {% if page_obj.paginator.num_pages > 1 %}
    <div class="sdcd-conteneur sdcd-grille sdcd-grille--centre sdcd-mt-7">{% dsfr_pagination page_obj %}</div>
  {% endif %}

{% endblock content %}
