{% load i18n %}
{% translate "vous êtes ici :" as vous_etes_ici %}
<nav role="navigation" class="sdcd-breadcrumb" aria-label="{{ vous_etes_ici }}">
  <a class="sdcd-breadcrumb__lien" href="{{ self.root_dir|default:'/' }}">{% translate "Accueil" %}</a>
  {% for link in self.links %}
    <i class="sdcd-breadcrumb__separateur ri-arrow-right-s-line" aria-hidden="true"></i>
    <a class="sdcd-breadcrumb__lien" href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
  <i class="sdcd-breadcrumb__separateur ri-arrow-right-s-line" aria-hidden="true"></i>
  <span class="sdcd-breadcrumb__courant" aria-current="page">{{ self.current }}</span>
</nav>
