{% load i18n %}
{% comment %} Choix du thème. Le composant Display du SDCD neutralise les transitions
   pendant la bascule : sans cela, les couleurs issues d'un var() restent figées. {% endcomment %}
<dialog id="sdcd-theme-modale" class="sdcd-modal__voile" aria-labelledby="sdcd-theme-titre">
  <div class="sdcd-modal">
    <div class="sdcd-modal__entete">
      <h2 id="sdcd-theme-titre" class="sdcd-modal__titre">{% translate "Paramètres d’affichage" %}</h2>
      <button type="button" class="sdcd-modal__fermer"
              data-sdcd-ferme>
        {% translate "Fermer" %} <i class="ri-close-line" aria-hidden="true"></i>
      </button>
    </div>
    <div class="sdcd-modal__corps">
      <fieldset class="sdcd-display">
        <legend class="sdcd-display__legende">{% translate "Choisissez un thème" %}</legend>
        <div class="sdcd-display__options">
          <label class="sdcd-display__option"><input type="radio" name="sdcd-theme" value="clair"> {% translate "Clair" %}</label>
          <label class="sdcd-display__option"><input type="radio" name="sdcd-theme" value="sombre"> {% translate "Sombre" %}</label>
          <label class="sdcd-display__option"><input type="radio" name="sdcd-theme" value="systeme" checked> {% translate "Système" %}</label>
        </div>
      </fieldset>
    </div>
  </div>
</dialog>
