{% load static wagtailcore_tags wagtailimages_tags %}
<div style="{% if value.layout.background_color %}background-color: var(--sdcd-fond-{{ value.layout.background_color }});
            {% endif %} min-height: 350px">
  <div class="cmsfr-hero-column">
    <div class="{{ value.layout.vertical_margin }} cmsfr-hero-column {% if value.text_content.position == 'bottom' %}cmsfr-order__2{% endif %}">
      <div class="sdcd-col-10 sdcd-col-md-9 cmsfr-text-content--center">
        {% include "sites_conformes_core/heros/_hero_text_content.html" %}
        {% include "sites_conformes_core/heros/_hero_buttons.html" %}
      </div>
    </div>
    <div class="sdcd-grille sdcd-grille--gouttieres">
      <figure class="sdcd-media {{ value.image.image_width }} {% if value.text_content.position == 'bottom' %}cmsfr-without-margin{% endif %}">
        <div class="sdcd-media__image">{% image value.image.image original class=value.image.extra_classes %}</div>
      </figure>
    </div>
  </div>
</div>
