{% extends "sites_conformes_core/base.html" %}
{% load wagtailcore_tags wagtail_dsfr_tags i18n honeypot_tags static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/honeypot.css' %}">
{% endblock extra_css %}

{% block title %}
  <title>{{ page.seo_title|default:page.title }} — {{ settings.sites_conformes_core.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% block content %}
  {% translate "Submit form" as submit_form %}
  <div class="sdcd-conteneur sdcd-pt-6">
    {% include "sites_conformes_core/blocks/breadcrumbs.html" %}
    <h1>{{ page.title }}</h1>
  </div>

  {% include "sites_conformes_core/blocks/messages.html" %}

  <div class="sdcd-conteneur sdcd-pb-7">
    {{ page.intro|richtext }}

    <form action="{% pageurl page %}" method="post" autocomplete="on">
      {% settings_value "DSFR_MARK_OPTIONAL_FIELDS" as dsfr_mark_optional_fields %}
      {% if not dsfr_mark_optional_fields %}
        <div class="sdcd-fieldset__element">
          {% if page.all_fields_required %}
            <p class="sdcd-texte-sm">{% translate "All fields are mandatory." %}</p>
          {% else %}
            <p class="sdcd-texte-sm">{% translate "Fields marked with an asterisk (*) are mandatory." %}</p>
          {% endif %}
        </div>
      {% endif %}

      {% csrf_token %}
      {% if form.non_field_errors %}
        <section class="sdcd-my-4 sdcd-champ sdcd-champ--erreur">
          {{ form.non_field_errors }}
        </section>
      {% endif %}

      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

      {% for field in form.visible_fields %}
        <div class="sdcd-fieldset__element">{% dsfr_form_field field %}</div>
      {% endfor %}

      {% honeypot_fields page.honeypot %}
      <div class="sdcd-fieldset__element">
        <input class="sdcd-button sdcd-button--primaire" type="submit" value="{{ submit_form }}" />
      </div>
    </form>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/honeypot.js' %}"></script>
{% endblock extra_js %}
