{% load wagtailcore_tags i18n %}
<button {% if current_page.url in self.menu_urls %}aria-current="true"{% endif %}
        aria-expanded="false"
        aria-controls="{{ self.id }}"
        type="button"
        class="sdcd-header__lien">{{ self.label }}</button>

<div class="sdcd-repli sdcd-megamenu" id="{{ self.id }}" hidden>
  <div class="sdcd-conteneur sdcd-conteneur--fluide">
    {% comment %}
      `data-fr-js-collapse-button` etait le crochet du JavaScript du DSFR, parti
      avec lui : le bouton n'avait plus aucun effet. sdcd.js replie la region
      nommee par `data-sdcd-replie` et remet le declencheur a l'etat ferme.
    {% endcomment %}
    <button type="button"
            class="sdcd-lien--fermer sdcd-lien"
            data-sdcd-replie="{{ self.id }}">{% translate "Close" %}</button>
    <div class="sdcd-grille sdcd-grille--gouttieres">
      <div class="sdcd-col-12 sdcd-col-lg-8 sdcd-col-decale-lg-4">
        <div class="sdcd-megamenu__intro">
          <h4 class="sdcd-h4 sdcd-mb-2">{{ self.label }}</h4>
          {% if self.description %}
          <p class="sdcd-masque sdcd-affiche-lg">{{ self.description }}</p>
          {% endif %}
          {% if self.main_link.url %}
          <a class="sdcd-lien ri-arrow-right-line sdcd-lien--icone-droite sdcd-lien--aligne" href="{{ self.main_link.url }}">{{ self.main_link.label }}</a>
          {% endif %}
        </div>
      </div>

    {% for column in self.columns %}
      {% include_block column %}
    {% endfor %}
    </div>
  </div>
</div>
