{% load dsfr_tags wagtailcore_tags %}
<div class="sdcd-conteneur sdcd-py-5 cmsfr-block-accordions">
  <div class="sdcd-grille sdcd-grille--gouttieres">
    {% comment %}
      Sans decalage : le bloc s'alignait au centre alors que le texte qui
      l'entoure est cale a gauche, dans la mesure de lecture.
    {% endcomment %}
    <div class="sdcd-col-12 sdcd-col-md-8">
      {% for subblock in value %}
        {% if subblock.block_type == "title" %}
          <div class="sdcd-col-12">
            <h2>{{ subblock.value }}</h2>
          </div>
        {% endif %}
      {% endfor %}
      <div class="sdcd-accordion">
        {% for subblock in value %}
          {% if subblock.block_type == "accordion" %}
            {% with forloop.counter0|lower as str_counter %}
              {% with "accordion-"|add:subblock.id|add:"-"|add:str_counter as accordion_id %}
                {% dsfr_accordion id=accordion_id title=subblock.value.title content=subblock.value.content|richtext %}
              {% endwith %}
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
