{% load static wagtailcore_tags %}

{% with block.value.buttons.0.value.icon_side as icons_side %}
  {% if block.value.buttons|length > 1 %}
    <ul class="sdcd-boutons sdcd-boutons--enligne-lg{% if icons_side == 'fr-btn--icon-left' %} sdcd-boutons--icones{% elif icons_side == 'fr-btn--icon-right' %} sdcd-boutons--icones {% endif %} {{ value.position }}">
      {% for button in block.value.buttons %}
        <li>{% include "sites_conformes_core/blocks/button.html" with button=button.value %}</li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="sdcd-boutons sdcd-boutons--enligne-lg{% if icons_side == 'fr-btn--icon-left' %} sdcd-boutons--icones{% elif icons_side == 'fr-btn--icon-right' %} sdcd-boutons--icones {% endif %} {{ value.position }}">
      {% include "sites_conformes_core/blocks/button.html" with button=block.value.buttons.0.value %}
    </div>
  {% endif %}
{% endwith %}
