{% load i18n wagtailimages_tags wagtailcore_tags dsfr_tags wagtail_dsfr_tags %}
<div class="sdcd-card sdcd-card--horizontal {% if value.image_ratio %}{{ value.image_ratio }}{% endif %} {% if value.enlarge_link %}sdcd-card--cliquable{% endif %} {% if value.grey_background %}sdcd-card--gris{% elif value.no_background %}sdcd-card--sans-fond{% endif %} {% if value.no_border %}sdcd-card--sans-bordure{% endif %} {% if value.shadow %}sdcd-card--ombre{% endif %} {% if value.document or value.link.document %}sdcd-card--telechargement{% endif %}">
  <div class="sdcd-card__corps">
    <div>
      {# djlint: off #}
      <{{ value.heading_tag | default:"h3" }} class="sdcd-card__titre">
        {% if value.link and value.link.url %}
          <a href="{{ value.link.url }}" {% if value.link.url.0 != '/' and request.get_host not in value.link.url %}target="_blank" rel="noopener noreferrer"{% endif %}>
            {{ value.title }}
            {% if value.link.url.0 != '/' and request.get_host not in value.link.url %}
            <span class="sdcd-lecteur-seul">{% translate "Opens a new window" %}</span>
            {% endif %}
          </a>
        {% else %}
          {{ value.title }}
        {% endif %}
      </{{ value.heading_tag | default:"h3" }}>
      {# djlint: on #}
      {% if value.description %}{{ value.description | richtext_p_add_class:"sdcd-card__description" }}{% endif %}
      {% if value.top_detail_badges_tags or value.top_detail_text %}
        <div class="sdcd-card__sur-titre">
          {% if value.top_detail_badges_tags %}
            {% for block in value.top_detail_badges_tags %}
              {% include_block block %}
            {% endfor %}
          {% endif %}
          {% if value.top_detail_text %}
            <p class="sdcd-card__meta{% if value.top_detail_icon %} {{ value.top_detail_icon }}{% endif %}">
              {{ value.top_detail_text }}
            </p>
          {% endif %}
        </div>
      {% endif %}
      {% if value.bottom_detail_text %}
        <div class="sdcd-card__pied">
          <p class="sdcd-card__meta{% if value.bottom_detail_icon %} {{ value.bottom_detail_icon }}{% endif %}">
            {{ value.bottom_detail_text }}
          </p>
        </div>
      {% elif value.link.document %}
        <div class="sdcd-card__pied">
          <p class="sdcd-card__meta{% if value.bottom_detail_icon %} {{ value.bottom_detail_icon }}{% endif %}">
            {% include "sites_conformes_core/blocks/download_info.html" with document=value.link.document %}
          </p>
        </div>
      {% endif %}
    </div>
    {% if value.call_to_action and not value.bottom_detail_text %}
      <div class="sdcd-card__actions">
        {% for block in value.call_to_action %}
          {% include_block block %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
  {% if value.image %}
    <div class="sdcd-card__media">
      <div>{% image value.image width-1200 class="fr-responsive-img" alt="" %}</div>
      {% if value.image_badge %}
        <ul class="fr-badges-group">
          {% for badge in value.image_badge %}
            <li>{% include_block badge %}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
</div>
