{% load i18n %}
{% for entry in entries %}
  <div class="sdcd-col sdcd-col-md-6 sdcd-col-12">
    <div class="sdcd-card sdcd-card--cliquable">
      <div class="sdcd-card__corps">
        <div>
          <h3 class="sdcd-card__titre">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </h3>
          <p class="sdcd-card__description">{{ entry.search_description |truncatewords:20 }}</p>
          {% if entry.tags.all %}
            <div class="sdcd-card__sur-titre">
              <ul class="sdcd-tags">
                {% for tag in entry.tags.all %}
                  <li>
                    <p class="sdcd-tag">{{ tag.name }}</p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
      {% if entry.cover %}
        <div class="sdcd-card__media">
          <div>
            <img class="sdcd-image-fluide"
                 src="{{ entry.cover.file.url }}"
                 alt="">
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% empty %}
  <div class="sdcd-col">
    <p>{% translate "No page found." %}</p>
  </div>
{% endfor %}
