{% load i18n wagtailcore_tags wagtailimages_tags %}
{# Uses value instead of block.value because it is also used #}
{# to display Person items #}

<div class="sdcd-card {% if value.enlarge_link %}sdcd-card--cliquable{% endif %} sdcd-card--gris">
  <div class="sdcd-card__corps">
    <div>
      {# djlint: off #}
      <{{ value.heading_tag | default:"h3" }} class="sdcd-card__titre">
        {% if value.link and value.link.url %}
          <a href="{{ value.link.url }}" {% if value.link.url.0 != '/' and request.get_host not in value.link.url %}target="_blank" rel="noopener noreferrer"{% endif %}>
            {{ value.display.name }}
            {% if value.link.url.0 != '/' and request.get_host not in value.link.url %}
            <span class="sdcd-lecteur-seul">{% translate "Opens a new window" %}</span>
            {% endif %}
          </a>
        {% elif value.url %}
          <a href="{{ value.url }}">{{ value.display.name }}</a>
        {% elif value.document %}
          <a href="{{ value.document.url }}">{{ value.display.name }}</a>
        {% else %}
          {{ value.display.name }}
        {% endif %}
      </{{ value.heading_tag | default:"h3" }}>
      {# djlint: on #}
      <p class="sdcd-card__description">{{ value.display.role }} – {{ value.display.organization }}</p>

      {% if value.contact_info or value.tags %}
        <div class="sdcd-card__pied">
          {% if value.tags %}
            <ul class="sdcd-tags">
              {% for tag in value.tags %}
                <li>{% include_block tag %}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if value.contact_info %}<p class="sdcd-card__meta">{{ value.contact_info|safe }}</p>{% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  {% if value.display.image %}
    <div class="sdcd-card__media">
      <div>
        <div class="cmsfr-vertical_contact_card__header sdcd-py-4">
          {% image value.display.image fill-200x200 as contact_image %}
          <img class="cmsfr-vertical_contact_card-img sdcd-py-4"
               src="{{ contact_image.url }}"
               width="4.5em"
               height="4.5em"
               alt="" />
        </div>
      </div>
    </div>
  {% endif %}
</div>
