{% load dsfr_tags wagtailcore_tags wagtailimages_tags %}
{% image value.bg_image original as bg_img %}
<div class="sdcd-py-7 {{ value.vertical_margin }} cmsfr-block-full-width-background"
     {% if value.bg_color_class or bg_img or value.bg_color %}style="background:{% endif %}
     {% if bg_img %}no-repeat center url({{ bg_img.url }}){% endif %}
     {% if value.bg_color_class %} var(--sdcd-fond-{{ value.bg_color_class }}) {% elif value.bg_color %}{{ value.bg_color }}{% endif %}
     {% if value.bg_color_class or bg_img or value.bg_color %};"{% endif %}>
  <div class="sdcd-conteneur">{% include "sites_conformes_core/blocks/blocks_stream.html" with stream=value.content %}</div>
</div>
