{% load i18n wagtailimages_tags dsfr_tags %}
{% if value.title %}
  <{{ value.heading_tag|default:"h3" }}>{{ value.title }}</{{ value.heading_tag|default:"h3" }}>
{% endif %}
<figure class="sdcd-media {{ value.width }}{% if value.url %} sdcd-cliquable{% endif %}"
        role="group"
        aria-label="{{ value.caption }}">
  <div class="sdcd-media__image">
    {% if value.url %}
      <a href="{{ value.url }}">
        {% image value.image original class=value.extra_classes alt=value.alt %}
        <span class="sdcd-lecteur-seul">{% translate "Go to page" %} {{ value.url }}</span>
      </a>
    {% else %}
      {% image value.image original class=value.extra_classes alt=value.alt %}
    {% endif %}
  </div>
  {% if value.caption %}<figcaption class="sdcd-media__legende">{{ value.caption }}</figcaption>{% endif %}
</figure>
