{% load static wagtailcore_tags wagtailimages_tags %}
<div class="sdcd-conteneur sdcd-my-7 cmsfr-block-image-and-text">
  <div class="sdcd-grille sdcd-grille--gouttieres">
    {% if value.image_side == "left" or value.image_side == "left_below" %}
      <div class="sdcd-col-12 sdcd-col-sm-{{ value.image_ratio }}{% if value.image_side == "left_below" %} cmsfr-order-mobile__2{% endif %}">
        <div class="bordered sdcd-px-4">
          {% include "sites_conformes_core/blocks/image_svg_or_raster.html" with extra_classes="sdcd-image-fluide" %}
        </div>
      </div>
      <div class="sdcd-col-12 sdcd-col-sm-{{ largeur_texte }}">
        {{ value.text|richtext }}

        {% if value.link is not None and value.link.url %}
          {% include_block value.link %}
        {% elif value.page and value.link_label %}
          <a class="sdcd-lien ri-arrow-right-line sdcd-lien--icone-droite"
             href="{{ value.page.url }}">{{ value.link_label }}</a>
        {% elif value.link_url and value.link_label %}
          <a class="sdcd-lien ri-arrow-right-line sdcd-lien--icone-droite"
             href="{{ value.link_url }}">{{ value.link_label }}</a>
        {% endif %}
      </div>
    {% else %}
      <div class="sdcd-col-12 sdcd-col-sm-{{ largeur_texte }}{% if value.image_side == "right_above" %} cmsfr-order-mobile__2{% endif %}">
        {{ value.text|richtext }}

        {% if value.link is not None and value.link.url %}
          {% include_block value.link %}
        {% elif value.page and value.link_label %}
          <a class="sdcd-lien ri-arrow-right-line sdcd-lien--icone-droite"
             href="{{ value.page.url }}">{{ value.link_label }}</a>
        {% elif value.link_url and value.link_label %}
          <a class="sdcd-lien ri-arrow-right-line sdcd-lien--icone-droite"
             href="{{ value.link_url }}">{{ value.link_label }}</a>
        {% endif %}
      </div>
      <div class="sdcd-col-12 sdcd-col-sm-{{ value.image_ratio }}">
        <div class="bordered sdcd-px-4">
          {% include "sites_conformes_core/blocks/image_svg_or_raster.html" with extra_classes="sdcd-image-fluide" %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
