{% load i18n dsfr_tags wagtailcore_tags wagtail_dsfr_tags %}
{% settings_value "WAGTAILADMIN_PATH" as admin_path %}
<div class="sdcd-mb-6">
  <a class="sdcd-lien {{ value.size }}{% if admin_path in value.url %} ri-lock-line sdcd-lien--icone-droite{% elif value.document %} fr-link--download{% else %} {{ value.icon }}{% endif %}"
     href="{{ value.url }}"
     {% if value.url.0 != '/' and request.get_host not in value.url %}target="_blank" rel="noopener noreferrer"{% endif %}>
    {{ value.label }}
    {% if value.url.0 != '/' and request.get_host not in value.url %}
      <span class="sdcd-lecteur-seul">{% translate "Opens a new window" %}</span>
    {% endif %}
    {% if value.document %}
      <span class="sdcd-lien__detail">
        {% include "sites_conformes_core/blocks/download_info.html" with document=value.document %}
      </span>
    {% endif %}
  </a>
</div>
