{# Display Django message info from previous form #}
{% if messages %}
  <div class="sdcd-conteneur sdcd-mt-7 cmsfr-block-messages">
    <div class="sdcd-grille sdcd-grille--gouttieres">
      <div class="sdcd-col-12">
        {% for message in messages %}
          {% if message.tags == "success" %}
            <div class="fr-alert fr-alert--success fr-alert--sm sdcd-mb-7"
                 role="status">
              <p>{{ message }}</p>
            </div>
          {% elif message.tags == "info" %}
            <div class="fr-alert fr-alert--info fr-alert--sm sdcd-mb-7" role="status">
              <p>{{ message }}</p>
            </div>
          {% elif message.tags == "error" %}
            <div class="fr-alert fr-alert--error fr-alert--sm sdcd-mb-7" role="alert">
              <p>{{ message }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
