{% load i18n wagtailcore_tags %}
{% comment %}
  Les panneaux autres que le premier portent `hidden` : sdcd.js bascule cet
  attribut au clic. Sans lui, les trois panneaux s'affichaient empiles.
{% endcomment %}
<div class="sdcd-tabs sdcd-mb-4">
  {% translate "Tabs group" as tabs_group %}
  <ul class="sdcd-tabs__liste" role="tablist" aria-label="{{ tabs_group }}">
    {% for tab_block in block.value %}
      <li role="presentation">
        <button id="tabpanel-{{ block.id }}-{{ forloop.counter }}"
                class="sdcd-tabs__onglet ri-checkbox-line sdcd-tabs__onglet--icone-gauche"
                tabindex="{% if forloop.first %}0{% else %}-1{% endif %}"
                role="tab"
                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                aria-controls="tabpanel-{{ block.id }}-{{ forloop.counter }}-panel">
          {{ tab_block.value.title }}
        </button>
      </li>
    {% endfor %}
  </ul>
  {% for tab_block in block.value %}
    <div id="tabpanel-{{ block.id }}-{{ forloop.counter }}-panel"
         class="sdcd-tabs__panneau{% if forloop.first %} sdcd-tabs__panneau--actif{% endif %}"
         role="tabpanel"
         aria-labelledby="tabpanel-{{ block.id }}-{{ forloop.counter }}"
         tabindex="0"
         {% if not forloop.first %}hidden{% endif %}>
      {% include "sites_conformes_core/blocks/blocks_stream.html" with stream=tab_block.value.content %}
    </div>
  {% endfor %}
</div>
