
{% load i18n dsfr_tags wagtailcore_tags wagtailimages_tags wagtail_dsfr_tags %}
<div class="sdcd-tile{% if value.is_small %} sdcd-tile--sm{% endif %}{% if value.enlarge_link %} sdcd-cliquable{% endif %}{% if value.is_horizontal %} sdcd-tile--horizontal{% endif %}{% if value.grey_background %} sdcd-tile--gris{% elif value.no_background %} sdcd-tile--sans-fond{% endif %}{% if value.no_border %} sdcd-tile--sans-bordure{% endif %}{% if value.shadow %} sdcd-tile--ombre{% endif %}{% if value.link.document %} sdcd-tile--telechargement{% endif %}">
  <div>
    <div>
      {# djlint: off #}
      <{{ value.heading_tag | default:"h3" }} class="sdcd-tile__titre">
        {% if value.link and value.link.url %}
          <a href="{{ value.link.url }}" {% if value.link.url.0 != '/' and request.get_host not in value.link.url %}target="_blank" rel="noopener noreferrer"{% endif %}>
            {{ value.title }}
            {% if value.link.url.0 != '/' and request.get_host not in value.link.url %}
            <span class="sdcd-lecteur-seul">{% translate "Opens a new window" %}</span>
            {% endif %}
          </a>
        {% else %}
          {{ value.title }}
        {% endif %}
      </{{ value.heading_tag | default:"h3" }}>
      {# djlint: on #}
      {% if value.description %}{{ value.description | richtext_p_add_class:"sdcd-tile__description" }}{% endif %}
      {% if value.detail_text %}
        <p class="sdcd-tile__meta">{{ value.detail_text }}</p>
      {% elif value.link.document %}
        <p class="sdcd-tile__meta">
          {% include "sites_conformes_core/blocks/download_info.html" with document=value.link.document %}
        </p>
      {% endif %}
      {% if value.top_detail_badges_tags %}
        <div>
          {% for block in value.top_detail_badges_tags %}
            {% include_block block %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  {% if value.image %}
    <div>
      {% image value.image original as pictogram %}
      {% settings_value "SF_SCHEME_DEPENDENT_SVGS" as scheme_dependent_svgs %}

      {% if scheme_dependent_svgs and pictogram.file.name|slice:"-4:" == ".svg" %}
        <div class="sdcd-tile__media">
          <svg aria-hidden="true"
               viewBox="0 0 80 80"
               width="80px"
               height="80px">
            <use href="{{ pictogram.full_url }}#artwork-decorative"></use>
            <use href="{{ pictogram.full_url }}#artwork-minor"></use>
            <use href="{{ pictogram.full_url }}#artwork-major"></use>
          </svg>
        </div>
      {% else %}
        <div class="sdcd-tile__media">{% image value.image width-80 alt="" %}</div>
      {% endif %}
    </div>
  {% endif %}
</div>
