{% extends "sites_conformes_core/base.html" %}
{% load widget_tweaks wagtailadmin_tags i18n static %}
{% block content %}
  <div class="sdcd-conteneur sdcd-conteneur--fluide sdcd-my-md-8">
    {% if validlink %}
      <div class="sdcd-grille sdcd-grille--gouttieres sdcd-grille--centre">
        <div class="sdcd-col-12 sdcd-col-md-8 sdcd-col-lg-6">
          <div class="sdcd-conteneur sdcd-fond-alt sdcd-px-md-0 sdcd-py-7 sdcd-py-md-8">
            <div class="sdcd-grille sdcd-grille--gouttieres sdcd-grille--centre">
              <div class="sdcd-col-12 sdcd-col-md-9 sdcd-col-lg-8">
                <h1>{% translate "Set your new password" %}</h1>

                <div class="sdcd-exergue ri-lock-unlock-line">
                  <p class="sdcd-exergue__texte">
                    {% translate "ANSSI recommands the use of a password manager to create and store the password." %}
                  </p>
                </div>

                {% include "wagtailadmin/shared/non_field_errors.html" %}

                <form method="post" novalidate>
                  {% csrf_token %}

                  {{ form.new_password1.as_field_group }}
                  {{ form.new_password2.as_field_group }}

                  <button type="submit" class="sdcd-button sdcd-button--primaire">{% translate "Reset password" %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <h1>{% translate "Invalid password reset link" %}</h1>
      <div role="alert" class="sdcd-alert sdcd-alert--erreur sdcd-alert--sm sdcd-my-4">
        <p>{% translate "The password reset link was invalid, possibly because it has already been used." %}</p>
      </div>

      <div class="form-actions">
        <a href="{% url 'wagtailadmin_password_reset' %}" class="sdcd-button sdcd-button--primaire">{% translate "Request a new password reset" %}</a>
      </div>
    {% endif %}
  </div>
{% endblock content %}
